@import '../../../Common.scss';

.notif-container {
  border: none;
  width: 550px;
  position: fixed;
  top: 114px;
  right: 100px;
  color: $white;
  font-size: 15px;
  padding: 15px 20px 20px 20px;
  box-shadow: 2px 2px 5px $shadow-color;

  i.icon-notif {
    font-size: 20px;
    margin-right: 10px;
    position: relative;
    top: 5px;
  }

  i.btn-close {
    float: right;
    position: absolute;
    top: 17px;
    right: 17px;
  }
}

.success {
  background: $success-modal-bg;
}

.danger {
  background: $danger-modal-bg;
}
