@import '../../../Common.scss';

.left-nav-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  z-index: 300;
  background: $header-bg-color;
  color: $content-text-color;
  box-shadow: 1px 2px 5px $shadow-color-dark;

  i.left-nav-close {
    float: right;
    margin: 20px;
    cursor: pointer;
  }

  ul.left-nav-menu {
    margin: 10px;
    margin-top: 60px;
    list-style: none;
    li {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      a {
        color: $content-text-color;
        &:hover {
          text-decoration: none;
        }
      }

      i {
        font-size: 19px;
        margin-right: 13px;
        position: relative;
        top: 3px;
      }
    }
  }
}
