// Sass variables
// All colors
$body-bg-color: #363748;
$header-bg-color: #262734;
$text-color-light: aliceblue;
$pure-black: #000000;
$shadow-color: #2c2d3b;
$button-blue: #2869bc;
$partition-color: #32333f;
